langchain
ipykernel
python-dotenv
pypdf
langchain_community
bs4
arxiv
PyMupdf
langchain-text-splitters
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
langchain-openai
langchain-ollama
langchain-groq
fastapi
uvicorn
langserve
streamlit
wikipedia
altair
